<style>
  .map{
    margin-left: 30px;
  
  }
  
  </style>


<footer>
    <div class="footer-main"> 
      
      
      <div class="footer-ul">
        <ul>
          <h4>Company</h4>
    <li><a href="{% url "sofa" %}">Terms of Services</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="{% url "contact" %}">Contact Us</a></li>
    

        </ul>
        
        <ul>
          <h4>Need Help?</h4>
          <li><a href={% url "contact" %}>FAQ's</a></li>
          <li><a href="#">Track Order</a></li>
          <li><a href={% url "contact" %}>Contact Us</a></li>
          <li><a href={% url "contact" %}>Shipping Information</a></li>
        </ul>
        
        <ul>
          <div class=footer-main3>
            <h4>Contact Us</h4>
            <P>✉ theRoyalfurniture@gmail.com
             </P>
             <P>Timings: 10AM-10 PM (Mon-Fri)</P>
             <P>+92 3044324314</P>
          </div>
        </ul>
        
      
      </div>
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3401.8873002599967!2d74.33183507530745!3d31.499781448159567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3919053da9242ae7%3A0xc101a588cdb9c7b3!2sSuperior%20university%20-%20Technology%20Campus!5e0!3m2!1sen!2s!4v1720718484580!5m2!1sen!2s" width="1000" height="300" style="border:0; " allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
  
   </footer>