<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="registerbox">
        <div class="registerbody" id="loginbody">
            <h1>Login</h1>
            <form action="/login/" method="post">
                {% csrf_token %}
                <div class="inputdiv">
                    <div>
                        <span class="material-symbols-outlined">mail</span>
                    </div>
                    <input type="text"  placeholder="username" required  name="username">
                </div>
                <div class="inputdiv">
                    <div>
                        <span class="material-symbols-outlined">password</span>
                    </div>
                    <input type="password"  placeholder="password" required name="password" >
                </div>
                <button type="submit" class="loginbtn">Login</button>
                <button type="button" class="signupbtn" onclick="switchtoSignup()">Signup</button>
            </form>
        </div>
        <div class="registerbody" id="signupbody"  style="display: none; height: auto;" >
            <h1 style="margin-bottom: 10px">Signup</h1>
            <form  method="post" action="/signup/">
                {% csrf_token %}
                <div class="inputdiv">
                    <div>
                        <span class="material-symbols-outlined">mail</span>
                    </div>
                    <input type="text"  placeholder="username" required name="username" >
                </div>
                <div class="inputdiv">
                    <div>
                        <span class="material-symbols-outlined">badge</span>
                    </div>
                    <input type="text"  placeholder="First name" required name="firstname">
                </div>
                <div class="inputdiv">
                    <div>
                        <span class="material-symbols-outlined">badge</span>
                    </div>
                    <input type="text"  placeholder="Last name" required name="lastname">
                </div>
                <div class="inputdiv">
                    <div>
                        <span class="material-symbols-outlined">password</span>
                    </div>
                    <input type="password"  placeholder="password" required name="password">
                </div>
                <div class="inputdiv">
                    <div>
                        <span class="material-symbols-outlined">password</span>
                    </div>
                    <input type="password"  placeholder="confirm password" required name="confirmpassword" >
                </div>
                <button type="submit" class="loginbtn">Signup</button>
                <button type="button" class="signupbtn" onclick="switchtoLogin()">Login</button>
            </form>
        </div>
    </div>
    <script>
        const switchtoSignup = ()=>{
            console.log("i called")
            document.getElementById("loginbody").style.display = 'none';
            document.getElementById('signupbody').style.display = 'flex';
        }
        const switchtoLogin = ()=>{
            document.getElementById("loginbody").style.display = 'flex';
            document.getElementById('signupbody').style.display = 'none';
        }
    </script>
</body>
</html>